/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    background: radial-gradient(white, #999);
}

/* Portrait layout (default) */

.app {
    text-align: center;
}

/* Landscape layout (with min-width) */

/* Paysage */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        /* padding-top + padding-bottom + text area = image height */
        /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

#card-container {
    display: flex;
    align-items: center;
    transform: translate(calc(var(--i, 0) / var(--n) * -100% + var(--tx, 0px)));
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100vw;
    transition: transform .8s;
    transform-style: preserve-3d;
}

.card-content {
    background-color: #EEE;
    --card-size: 80vmin;
    width: var(--card-size);
    height: var(--card-size);
    line-height: var(--card-size);
    font-size: 50vmin;
    border-radius: 4vmin;
    box-shadow: 0 0 4vmin dimgrey;
    backface-visibility: hidden;
    position: absolute;
    left: calc(50vw - 40vmin);
}

.card-content.front {}

.card-content.back {
    font-family: cursive;
    transform: rotateY( 180deg);
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.smooth {
    transition: transform calc(var(--f, 1) * .5s) ease-out;
}

#play {
    position: absolute;
    top: 80%;
    left: calc(50% - 0.8em);
    border-radius: 50%;
    font-size: 3em;
    line-height: 1.6em;
    width: 1.6em;
    height: 1.6em;
    border: 0.1em solid #333;
    transform: scale(-1, 1);
    box-shadow: 0 0 1em dimgrey;
}

/* Vowel colors */

.a {
    color: orange
}

.e {
    color: cadetblue
}

.i {
    color: red
}

.o {
    color: blueviolet
}

.u {
    color: green
}